*.aux
*.bak
*.tmp

manuscript.aux
manuscript.bbl
manuscript.blg
manuscript.log
manuscript.synctex.gz

manuscript.out
manuscript.toc
packages_and_options.log
bibliography.bbl
bibliography.blg
manuscript.bcf
manuscript.run.xml
